@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

*{
  font-family: 'Electrolize', sans-serif;
}

body{
  background-color: #222;
  color: white;
}

.text-main{
  color: cyan;
}

.bg-main{
  background-color: cyan;
}

